/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: auto;
}
.color {
  color: white;
}
.border {
  border: 4px solid gray;
  background-color: darkgray;
}
.font {
  font-family: 'Acme', sans-serif;
}
html,
body {
  height: 100%;
  background-image: url('../images/bg.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-position: 100%;
  font-size: 0.625rem;
  scroll-behavior: smooth;
}
@media (max-width: 800px) {
  html,
  body {
    background-image: url('../images/bg-mobile.PNG');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
html h1,
body h1 {
  font-size: 3rem;
  color: white;
  font-family: 'Acme', sans-serif;
}
html h2,
body h2 {
  font-size: 2.5rem;
  text-align: left;
  padding: 5px;
  color: white;
  font-family: 'Acme', sans-serif;
}
html .Title,
body .Title {
  padding: 0 0 0 800px;
}
@media (max-width: 1800px) {
  html .Title,
  body .Title {
    padding: 15px 0 0 100px;
  }
}
@media (max-width: 500px) {
  html .Title,
  body .Title {
    padding: 2px;
  }
}
html section .botBorder,
body section .botBorder {
  width: 100%;
  left: 0;
  margin: 0;
}
html section #Skills,
body section #Skills {
  display: flex;
  margin: 10px;
  font-size: 2.5rem;
}
html section #Goals,
body section #Goals {
  display: flex;
  margin: 10px;
  font-size: 2.5rem;
}
html section p,
body section p {
  display: flex;
  padding: 10px;
  font-family: 'Acme', sans-serif;
  font-size: 2rem;
}
html section .box2,
body section .box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  border: 4px solid gray;
  background-color: darkgray;
  margin: 10px;
  width: 80%;
}
html .Flex,
body .Flex {
  display: flex;
}
html .Flex .box,
body .Flex .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  border: 4px solid gray;
  background-color: darkgray;
  width: 40%;
  margin: 200px 0 0 10px;
  height: auto;
}
@media (max-width: 500px) {
  html .Flex .box,
  body .Flex .box {
    margin: 250px 0 0 10px;
  }
}
html header nav,
body header nav {
  width: 400px;
}
html header nav li a,
body header nav li a {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  font-family: 'Acme', sans-serif;
  background-color: hotpink;
  border: 1px solid gray;
  border-right: 2px solid gray;
  padding: 5px;
}
html header nav a:hover,
body header nav a:hover {
  background-color: pink;
  color: white;
  padding: 0;
}
html .anchor1,
body .anchor1 {
  padding-left: 0;
  animation: text 1s 1;
  animation-fill-mode: forwards;
}
@keyframes text {
  100% {
    padding-left: 300px;
  }
}
html .anchor2,
body .anchor2 {
  padding-left: 0;
  animation: text2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes text2 {
  100% {
    padding-left: 275px;
  }
}
html .anchor3,
body .anchor3 {
  padding-left: 0;
  animation: text3 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
@keyframes text3 {
  100% {
    padding-left: 200px;
  }
}
html .lastanchor,
body .lastanchor {
  padding-left: 0;
  animation: text4 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
@keyframes text4 {
  100% {
    padding-left: 150px;
  }
}
html .justkidding,
body .justkidding {
  padding-left: 0;
  animation: text5 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}
@keyframes text5 {
  100% {
    padding-left: 100px;
  }
}
html footer nav,
body footer nav {
  width: 80%;
}
html footer nav ul,
body footer nav ul {
  display: flex;
  justify-content: space-around;
}
html footer nav ul li,
body footer nav ul li {
  display: flex;
  justify-content: space-around;
}
html footer nav ul li a,
body footer nav ul li a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
  font-size: 2rem;
  color: black;
  border: none;
  border-radius: 60%;
  padding: 15px;
  margin: 10px;
  background-color: hotpink;
  font-family: 'Acme', sans-serif;
}
html footer nav a:hover,
body footer nav a:hover {
  background-color: pink;
  color: white;
}
.middle-image {
  margin: 10px;
  width: 80%;
}
