/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.font {
  font-family: 'Acme', sans-serif;
}
.bordered {
  border: 4px solid gray;
  background-color: darkgray;
}
.bored {
  border-bottom: 2px dashed gray;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html body {
  height: 100%;
  background-image: url('../images/bg.PNG');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  font-size: 10px;
  scroll-behavior: smooth;
}
@media (max-width: 800px) {
  html body {
    background-image: url('../images/bg-mobile.PNG');
    background-repeat: no-repeat;
    background-size: absolute;
  }
  @supports (transition: initial) {
    html body {
      background-image: url('../images/bg-mobile.PNG');
    }
  }
}
.container {
  width: 90%;
  margin: auto;
}
.container header .NavSteph {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
}
.container header .NavSteph nav {
  width: 500px;
}
.container header .NavSteph nav li a {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  font-family: 'Acme', sans-serif;
  background-color: hotpink;
  border: 1px solid gray;
  border-right: 2px solid gray;
  padding: 5px;
  width: 375px;
}
.container header .NavSteph nav .anchor1 {
  padding-left: 0;
  animation: text 1s 1;
  animation-fill-mode: forwards;
}
@keyframes text {
  100% {
    padding-left: 300px;
  }
}
.container header .NavSteph nav .anchor2 {
  padding-left: 0;
  animation: text2 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes text2 {
  100% {
    padding-left: 275px;
  }
}
.container header .NavSteph nav .anchor3 {
  padding-left: 0;
  animation: text3 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
@keyframes text3 {
  100% {
    padding-left: 200px;
  }
}
.container header .NavSteph nav .lastanchor {
  padding-left: 0;
  animation: text4 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
@keyframes text4 {
  100% {
    padding-left: 150px;
  }
}
.container header .NavSteph nav .justkidding {
  padding-left: 0;
  animation: text5 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}
@keyframes text5 {
  100% {
    padding-left: 100px;
  }
}
.container header .NavSteph nav a:hover {
  background-color: pink;
  color: white;
}
.container header .NavSteph .Title {
  padding: 0 0 0 20%;
  font-size: 6rem;
  align-items: center;
  justify-items: center;
  margin-top: 4%;
  width: 300px;
  white-space: nowrap;
}
h1 {
  color: white;
  font-family: 'Acme', sans-serif;
}
h2 {
  font-size: 2.5rem;
  text-align: left;
  padding: 5px;
  color: white;
  font-family: 'Acme', sans-serif;
}
section #Skills {
  display: flex;
  margin: 10px;
  font-size: 2.5rem;
}
section #Goals {
  display: flex;
  margin: 10px;
  font-size: 2.5rem;
}
section p {
  display: flex;
  padding: 10px;
  font-family: 'Acme', sans-serif;
  font-size: 2.5rem;
}
section .botBorder {
  width: 100%;
  left: 0;
  margin: 0;
}
section .box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  border: 4px solid gray;
  background-color: darkgray;
  margin: 10px;
  width: 80%;
}
.Flex {
  display: flex;
}
.Flex .box {
  display: grid;
  border: 4px solid gray;
  background-color: darkgray;
  width: 40%;
  margin: 320px 0 0 10px;
  height: auto;
}
@media (max-width: 500px) {
  .Flex .box {
    margin: 50px 0 0 10px;
  }
}
footer nav {
  width: 80%;
}
footer nav ul {
  display: flex;
  justify-content: space-around;
}
footer nav ul li {
  display: flex;
  justify-content: space-around;
}
footer nav ul li a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
  font-size: 2rem;
  color: black;
  border: none;
  border-radius: 60%;
  padding: 15px;
  margin: 10px;
  background-color: hotpink;
  font-family: 'Acme', sans-serif;
}
footer nav a:hover {
  background-color: pink;
  color: white;
}
.middle-image {
  margin: 10px;
  width: 80%;
  border-bottom: 2px dashed gray;
}
