// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

.container{
	width: 90%;
	margin: auto;
}

.color{
	color: white;
}

.border{
	border: 4px solid gray;
	background-color: darkgray;
}
@number: 2.5rem;

.font{
	font-family: 'Acme', sans-serif;
}

html, body {
	height: 100%;
	background-image: url('../images/bg.PNG');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	background-position: 100%;
	font-size: 0.625rem;
	
	@media(max-width:800px){
		background-image: url('../images/bg-mobile.PNG');
		background-repeat: no-repeat;
		background-size: cover;
	}

	h1{
		font-size: 3rem;
		.color;
		.font;
	}

	h2{
		font-size: @number;
		text-align: left;
		padding: 5px;
		.color;
		.font;
	}

		.Title{
			padding: 0 0 0 800px;

			@media(max-width: 1800px){
			padding: 15px 0 0 100px;
		}
			@media(max-width: 500px){
			padding: 2px;
		}
	}

		section{
			.botBorder{
				width: 100%;
				left: 0;
				margin: 0;
			}
			#Skills{
				display: flex;
				margin: 10px;
				font-size: @number;
			}
			#Goals{
				display: flex;
				margin: 10px;
				font-size: @number;
			}
			p{
				display: flex;
				padding: 10px;
				.font;
				font-size: 2rem;
			}
			.box2{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-content: center;
				.border;
				margin: 10px;
				width: 80%;

				
			}
}

.Flex{
	display: flex;
		.box{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-content: center;
			.border;
			width: 40%;
			margin: 200px 0 0 10px;
			height: auto;

			@media (max-width: 500px){
				margin: 250px 0 0 10px;
			}
	}
}

header {

	nav {
		width: 400px;

			li a{
				display: flex;
				list-style-type: none;
				text-decoration: none;
				font-size: 2rem;
				.color;
				.font;
				background-color: hotpink;
				border: 1px solid gray;
				border-right: 2px solid gray;
				padding: 5px;	
				}

				a:hover{
					background-color: pink;
					.color;
					padding: 0;
				}
}
}

	.anchor1{
		padding-left: 0;
		animation: text 1s 1;
		animation-fill-mode: forwards;

		@keyframes text {
			100%{	
				padding-left: 300px;
			}
		}
	}

	.anchor2{
		padding-left: 0;
		animation: text2 1s 1;
		animation-fill-mode: forwards;
		animation-delay: 1s;

		@keyframes text2 {

			100%{
				padding-left: 275px;
			}
		}
	}

	.anchor3{
		padding-left: 0;
		animation: text3 1s 1;
		animation-fill-mode: forwards;
		animation-delay: 2s;

		@keyframes text3 {

			100%{
				padding-left: 200px;
			}
		}
	}

	.lastanchor{
		padding-left: 0;
		animation: text4 1s 1;
		animation-fill-mode: forwards;
		animation-delay: 3s;

		@keyframes text4 {

			100%{
				padding-left: 150px;
			}
		}
	}

	.justkidding{
		padding-left: 0;
		animation: text5 1s 1;
		animation-fill-mode: forwards;
		animation-delay: 4s;

		@keyframes text5 {
			
			100%{
				padding-left: 100px;
			}
		}
	}

	footer{
		nav{
			width: 80%;
			ul{
				display: flex;
				justify-content:space-around;
			li{
				display: flex;
				justify-content: space-around;

				a{
				display:flex;
				justify-content: space-between;
				text-decoration: none;
				list-style-type: none;
				font-size: 2rem;
				color: black;
				border: none;
				border-radius: 60%;
				padding: 10px;
				background-color:hotpink;
				.font;
			}
		}
	}
			a:hover{
				background-color: pink;
				.color;
			}
		}
	}
}

.middle-image{
margin: 10px;
width: 80%;
}