// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import "variables";
@import "mixins";
@import "global";

.container{
	width: 90%;
	margin: auto;

	header {

	.NavSteph{
		display:flex;
		justify-content: space-around;
		width: 100%;
		max-width: 800px;

		nav {
			width: 500px;
				li a{
					display: flex;
					list-style-type: none;
					text-decoration: none;
					font-size: 2.5rem;
					color: @w;
					.font;
					background-color: hotpink;
					border: 1px solid gray;
					border-right: 2px solid gray;
					padding: 5px;
					width: 375px;	
				}

					.anchor1{
						padding-left: 0;
						animation: text 1s 1;
						animation-fill-mode: forwards;
				
						@keyframes text {
							100%{	
								padding-left: 300px;
							}
						}
					}
				
					.anchor2{
						padding-left: 0;
						animation: text2 1s 1;
						animation-fill-mode: forwards;
						animation-delay: 1s;
				
						@keyframes text2 {
				
							100%{
								padding-left: 275px;
							}
						}
					}
				
					.anchor3{
						padding-left: 0;
						animation: text3 1s 1;
						animation-fill-mode: forwards;
						animation-delay: 2s;
				
						@keyframes text3 {
				
							100%{
								padding-left: 200px;
							}
						}
					}
				
					.lastanchor{
						padding-left: 0;
						animation: text4 1s 1;
						animation-fill-mode: forwards;
						animation-delay: 3s;
				
						@keyframes text4 {
				
							100%{
								padding-left: 150px;
							}
						}
					}
				
					.justkidding{
						padding-left: 0;
						animation: text5 1s 1;
						animation-fill-mode: forwards;
						animation-delay: 4s;
				
						@keyframes text5 {
							
							100%{
								padding-left: 100px;
							}
						}
					}
			
					a:hover{
						background-color: pink;
						color: @w;
					}

					
				}

		.Title{
			padding: 0 0 0 20%;
			font-size: 6rem;
			align-items: center;
			justify-items: center;
			margin-top: 4%;
			width: 300px;
			white-space: nowrap;
		}
	}
}
}

	h1{
		color: @w;
		.font;
	}

	h2{
		font-size: @number;
		text-align: left;
		padding: 5px;
		color: @w;
		.font;
	}
		section{
			
			#Skills{
				display: flex;
				margin: 10px;
				font-size: @number;
			}
			#Goals{
				display: flex;
				margin: 10px;
				font-size: @number;
			}
			p{
				display: flex;
				padding: 10px;
				.font;
				font-size: 2.5rem;
			}
			.botBorder{
				width: 100%;
				left: 0;
				margin: 0;
			}

			.box2{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-content: center;
				.bordered;
				margin: 10px;
				width: 80%;

			}
}


.Flex{
	display: flex;
		.box{
			display: grid;
			.bordered;
			width: 40%;
			margin: 320px 0 0 10px;
			height: auto;

			@media (max-width: 500px){
				margin: 50px 0 0 10px;
				}
			}
			}



	

	
	footer{
		nav{
			width: 80%;
			ul{
				display: flex;
				justify-content:space-around;
			li{
				display: flex;
				justify-content: space-around;

				a{
				display:flex;
				justify-content: space-between;
				text-decoration: none;
				list-style-type: none;
				font-size: 2rem;
				color: black;
				border: none;
				border-radius: 60%;
				padding: 15px;
				margin: 10px;
				background-color:hotpink;
				.font;
			}
		}
	}
			a:hover{
				background-color: pink;
				color: @w;
			}
		}
	}

.middle-image{
margin: 10px;
width: 80%;
.bored;
}